pkgbase = hyprloom
	pkgdesc = Save, restore, and reconcile Hyprland window sessions
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/thethracian/hyprloom
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = hyprland
	provides = hyprflow
	conflicts = hyprflow
	replaces = hyprflow
	source = hyprloom-0.3.0.tar.gz::https://github.com/thethracian/hyprloom/releases/download/v0.3.0/hyprloom-0.3.0.tar.gz
	sha256sums = c6c96054a06b501fc626687c9accab779710538bd47abb0a255c5a1e885b9e4e

pkgname = hyprloom
