pkgbase = hyprloom
	pkgdesc = Save, restore, and reconcile Hyprland window sessions
	pkgver = 0.3.7
	pkgrel = 1
	url = https://github.com/thethracian/hyprloom
	arch = x86_64
	license = MIT
	makedepends = cargo
	depends = hyprland
	provides = hyprflow
	conflicts = hyprflow
	replaces = hyprflow
	source = hyprloom-0.3.7.tar.gz::https://github.com/thethracian/hyprloom/releases/download/v0.3.7/hyprloom-0.3.7.tar.gz
	sha256sums = fb84b8268f7a2c5c16024bd1b675a1628df17d701cbfe3dcdb87d6f7eeca95f8

pkgname = hyprloom
